prophet==1.1.6
scikit-learn==1.6.1
mlflow==2.22.0
optuna==4.3.0
pytest==8.3.5
fastapi>=0.100.0
uvicorn>=0.22.0
redis>=4.6.0
prisma==0.13.1
influxdb-client>=1.36.0
pydantic==2.6.1
requests>=2.31.0,<3.0.0